.container {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
  color: white;
  cursor: pointer;
  padding: 16px;
  background-color: crimson;
  border: none;
}

.btn:disabled {
  background-color: rgba(220, 20, 60, 0.377);
  cursor: not-allowed;
}
